.header{
  background-color: $off-black;
  color: aliceblue;
}
.header__title{
  padding: 1rem 0 0 1rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.header__subtitle{
  padding: 0 0 1rem 1rem;
  margin-top: 0px;
  color: azure;
}